/* Clean copy from https://github.com/orderedlist/minimal */
@media all{
    /* Main */
    body{background:#FFFFFF; color:#595959; font-family:sans-serif; font-size:16px; font-weight:400; margin-top:2rem;}
    /* Header */
    h1{font-size:1.12rem; font-weight:600;}
    h2{font-size:1.06rem; font-weight:500; color:#393939; font-family:"Futura",Helvetica;}
    h3{font-size:1rem; font-weight:500; color:#FE2E2E; font-family:"Futura",Helvetica;}
    h4{font-size:1.06rem; font-weight:500; color:#393939; font-family:"Futura",Helvetica;}
    h1, h2, h3, h4{margin:0 0 1.125rem; line-height:1.1;}
    /* Link */
    a{text-decoration:none; color:#3399CC; font-weight:500;}
    /* Font */
    small{font-size:0.85rem;font-weight:600;}
    a small{font-size:0.75rem; color:#777777; margin-top:-0.3em; display:block; font-weight:500;}
    strong{color:#222222; font-weight:600;}
    /* Image */
    img{max-width:100%; height:auto;}
    /* Frame Container */
    .wrapper{max-width:73.75rem; margin:0 auto;}
    /* Left Frame */
    header{width:16.875rem; float:left; position:fixed;}
    /* Left Header */
    header ul{list-style:none; width:16.875rem; height:2.5rem; padding:0; background:#F4F4F4; border-radius:0.313rem; border:0.063rem solid #E0E0E0;}
    header li{width:5.563rem; height:2.5rem; float:left; border-right:0.063rem solid #E0E0E0;}
    header ul a{height:2.125rem; padding-top:0.375rem; display:block; font-size:0.88rem; color:#999999; font-weight:600; line-height:1; text-align:center;}
    header ul li + li + li{width:5.563rem; border-right:none;}
    header ul a strong{font-size:0.875rem; color:#222222; font-weight:600;display:block;}
    /* Left Bottom */
    footer{width:16.875rem; float:left; position:fixed; bottom:3.125rem; font-size:0.85rem;}
    /* Right Frame */
    section{width:51.875rem; float:right; padding-bottom:3.125rem;}
    /* Table */
    table{width:100%; border-collapse:collapse;}
    /* Table Header */
    th{color:#444444;}
    /* Table Container*/
    th, td{text-align:left; padding:0.313rem 0.625rem; border-bottom:0.063rem solid #E5E5E5;}
    dt{color:#444444; font-weight:500;}
    /* Demarcation */
    hr{border:0; background:#E5E5E5; height:0.07rem; margin:0 0 1.125rem;}
    /* Typesetting */
    blockquote{font-style:italic; border-left:0.063rem solid #E5E5E5; margin:0; padding:0 0 0 1.25rem;}
    pre{padding:0.5rem 0.938rem; background:#F8F8F8; border-radius:0.313rem; border:0.063rem solid #E5E5E5; overflow-x:auto;}
    p, ul, ol, table, pre, dl{margin:0 0 1.125rem;}      
    /* Code Style */
    code, pre{font-family:monaco,Consolas,"Lucida Console",monospace; color:#333333; font-weight:500;}
    /* YouTube Embedded */
    .video-container{position:relative; padding-bottom:56.25%; padding-top:1.875rem; height:0; overflow:hidden;}
    /* YouTube Embedded iframe */
    .video-container iframe, .video-container object, .video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}
    /* Root - ContributionCalendar Color */
    :root{
        --color-calendar-graph-day-bg: #F1F8FB;
        --color-calendar-graph-day-L1-bg: #C1E0EF;
        --color-calendar-graph-day-L2-bg: #92C8E3;
        --color-calendar-graph-day-L3-bg: #62B0D7;
        --color-calendar-graph-day-L4-bg: #3399CC;}
    /* ContributionCalendar Color */
    rect.ContributionCalendar-day[data-level='0']{fill: var(--color-calendar-graph-day-bg);}
    rect.ContributionCalendar-day[data-level='1']{fill: var(--color-calendar-graph-day-L1-bg);}
    rect.ContributionCalendar-day[data-level='2']{fill: var(--color-calendar-graph-day-L2-bg);}
    rect.ContributionCalendar-day[data-level='3']{fill: var(--color-calendar-graph-day-L3-bg);}
    rect.ContributionCalendar-day[data-level='4']{fill: var(--color-calendar-graph-day-L4-bg);}
    /* ContributionCalendar Frame */
    .calendar{font-family:sans-serif; text-align:center; margin:0 auto; border:0.063rem solid #DDDDDD; border-radius:0.313rem; min-width:51.875rem; min-height:15.188rem;}
    /* ContributionCalendar Graph */
    .calendar-graph{padding:0.188rem 0 0; text-align:center;}
    /* Day-Month */
    text.ContributionCalendar-label{display:none;}
    /* Color Block */
    .contrib-legend{text-align:right; display:inline-block; padding:0 0.875rem 0.625rem 0;}
    .contrib-legend .legend{display:inline-block; list-style:none; margin:0 0.313rem; position:relative; bottom:-0.063rem; padding:0;}
    .contrib-legend .legend li{display:inline-block; width:0.625rem; height:0.625rem;}
    /* Description Footer */
    .contrib-footer{width:100%; box-sizing:border-box; height:1.625rem; padding:0 0.625rem 0.75rem; text-align:left; font-size:0.688rem;}
    /* ContributionCalendar Column */
    .contrib-column{padding:0.938rem 0; text-align:center; border-left:0.063rem solid #DDDDDD; border-top:0.063rem solid #DDDDDD; font-size:0.688rem;}
    .table-column{display:table-cell; width:1%; padding-right:0.625rem; padding-left:0.625rem; vertical-align:top;}
    /* ContributionCalendar Active-Year*/
    .contrib-column-first{border-left:0;}
    /*ContributionCalendar Mid */
    .contrib-number{display:block; font-size:1.5rem; line-height:1.3em; color:#333333; font-weight:300;}
    /* Description Column */
    .left.text-muted{float:left; margin-left:0.563rem; color:#767676;}
    /* Description */
    .float-left{display:none;}
        /* Color Description */
        .text-gray{display:none;}}
/*1280px*/
    @media print, screen and (min-width:1280px){
        header{padding-right:11.25rem;}}
/*1136px*/
    @media print, screen and (max-width:1136px){
        div.wrapper{width:auto; margin:0;}
        header, section, footer {float:none; position:static; width:auto;}
        header{padding-right:20rem;}
        section{border:0.063rem solid #E5E5E5; border-width:0.063rem 0; padding:1.25rem 0; margin:0 0 1.25rem;}
        header a small{display:inline;}
        header ul{position:absolute; right:3.125rem; top:3.25rem;}}
/*960px*/
    @media print, screen and (max-width:960px){
        body{word-wrap:break-word; font-size:1rem; line-height:1.2rem;}
        header{padding:0;}
        header ul, header p.view{position:static;}
        pre, code {word-wrap:normal;}
        .calendar{display:none;}
        h4 {display:none;}}
/*print*/
    @media print {
        body {padding:0.4in; font-size:12pt; color:#444444;}}
/*E20210223*/
